@model IEnumerable<MagicVilla_Utilidad.DTO.NumeroVillaDTO>
@{
    ViewData["Title"] = "IndexNumeroVilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Lista de numero de villas</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="NumeroVilla" asp-action="CrearNumeroVilla" class="btn btn-outline-primary">
                <i class="bi bi-plus-square-fill"></i>
                Crear nuevo numero de villa
            </a>
        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de la villa</th>
                <th>Numero de villla</th>                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.villa.Nombre</td>
                    <td>@item.VillaNo</td>
                    <td>
                        <a asp-controller="NumeroVilla" asp-action="ActualizarNumeroVilla" asp-route-villaNo="@item.VillaNo" class="btn btn-outline-primary">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-controller="NumeroVilla" asp-action="BorrarNumeroVilla" asp-route-villaNo="@item.VillaNo" class="btn btn-outline-primary">
                            <i class="bi bi-trash-fill"></i>

                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

